/*Rusdianto */


@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@300;400&family=Quicksand:wght@400;700&display=swap');

body {
	font-family: 'Montserratt', Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 20px;
}
h2, h3 {
	color: #000000;
}

p {
	font-size: 15px;
}

li {
	text-align: left;
	font-size: 15px;
}

.nav img {
    width: auto;
    height: 20px;
    padding: 2px;
	cursor: pointer;
	transition: 0.3s ease;
}

.profile header {
	text-align: center;
}

footer {
	padding: 20px;
    text-align: center;
	font-weight: bold;
    color: #000000;
    background-image:linear-gradient(rgb(255, 200, 49), rgb(255, 214, 102));
	box-shadow: 0px 0px 40px rgba(133, 75, 0, 0.5);
}

.featured-image {
	width: auto;
	max-height: 100px;
	object-fit: cover;
}

.featured-image img {
	width: auto;
	max-height: 100px;
	object-fit: cover;
}

.event-photo {
	width: auto;
	max-height: 180px;
	border-radius: 20px;
	box-shadow: 0px 5px 10px rgba(133, 75, 0, 0.5);
	transition: 0.3s ease;
	position: center;
}

.event-photo:hover {
	transform: scale(1.1);
	border-radius: 20px;
	z-index: 2;
}

.arrows-down {
	width: auto;
	max-height: 80px;
	box-shadow: 0px 5px 10px rgba(133, 75, 0, 0.5);
	transition: 0.3s ease;
	position: center;
}

.profile img {
	width: 200px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	padding: 20px;
	margin-top: 20px;
	background-color: rgb(255, 255, 255);
	text-align: center;
}

.photo-profile {
	box-shadow: 0px 5px 10px rgba(133, 75, 0, 0.5);
	transition: 0.3s ease;
}

.photo-profile:hover {
	transform: scale(1.1);
	border-radius: 20px;
	z-index: 2;
}

.card-profile {
	border-radius: 20px;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
}

.card img {
	border-radius: 20px;
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	object-position: center;
}

.jumbotron {
	font-size: 20px;
	padding: 60px;
	text-align: center;
	color: rgb(0, 100, 25);
	background-image:linear-gradient(rgb(255, 224, 124), rgb(249, 255, 162));
}

.jumbotron img {
	width: 100%;
	height: auto;
}


nav {
	padding: 5px;
	position: sticky;
	top: 0;
	background-image:linear-gradient(rgb(255, 200, 49), rgb(255, 214, 102));
	text-align: center;
	box-shadow: 0px 5px 10px rgba(133, 75, 0, 0.5);
	z-index: 1;
}

nav img {
	width: auto;
	height: 20px;
}

main {
	padding: 20px;
	overflow: auto;
	background-color: #ffde84;
}

article img {
	border-radius: 20px;
	height: auto;
	width: 50%;
	max-width: 300px;
}

.chip {
	display: inline-table;
	color: #000000;
	font-size: small;
	cursor: pointer;
	margin: 0px 0px 0px 10px;
}
  
.chip img {
	cursor: pointer;
	width: 20px;
	height: 20px;
	float: left;
	margin: 0 5px 0 -5px;
}

#content {
	float: left;
	width: 75%;
  }

* {
	box-sizing: border-box;
}

@media screen and (max-width: 1920px) {
	#content,
	aside {
		width: 100%;
		padding: 0;
	}
}
 
header {
	display: inline;
}
